<div class="header">
    Achi Ir 6500 Control Station
</div>
<div class="contain">
    <div class="content">
        <div class="data-table">
            <div class="data-table--row">
                <span class="data-table--row__action">&nbsp;</span>
                <span class="data-table--row__program">Program</span>
                <span class="data-table--row__loop">Loop</span>
                <template ngFor #step [ngForOf]="maxSteps">
                    <span class="data-table--row__column">Ramp</span>
                    <span class="data-table--row__column">Target</span>
                    <span class="data-table--row__column">Dwell</span>
                </template>
            </div>
            <div class="data-table__body" *ngFor="#program of programs">
                <form #program="ngForm">
                    <div class="data-table--row" ngControlGroup="programGroup" #programGroup="ngForm">
                        <span class="data-table--row__action">
                            <button class="btn" (click)="runProgram(program.id, $event)"><span class="glyphicon glyphicon-play"></span> Run</button>
                        </span>
                        <input type="hidden" required ngControl="name2" [(ngModel)]="program.id">
                        <span class="data-table--row__program">
                            <input type="text" required ngControl="name2" [(ngModel)]="program.name">
                        </span>
                        <span class="data-table--row__loop">
                            <input type="text" required ngControl="name2" [(ngModel)]="program.loop_counter">
                        </span>
                        <template ngFor #step [ngForOf]="program.steps">
                            <span class="data-table--row__column">
                                <input type="text" ngControl="name2" [(ngModel)]="step.ramp_rate">
                            </span>
                            <span class="data-table--row__column">
                                <input type="text" ngControl="name2" [(ngModel)]="step.target">
                            </span>
                            <span class="data-table--row__column">
                                <input type="text" ngControl="name2" [(ngModel)]="step.dwell">
                            </span>
                        </template>
                    </div>
                </form>
            </div>
            <button class="btn" (click)="addProgram(input, $event)">Add Program</button>
            <button class="btn" (click)="save(input, $event)">Save All</button>
        </div>
    </div>
</div>
<div class="footer">
    See <a href="https://github.com/gareth-smyth/achiir6500">AchiIr6500</a>
</div>