html, body { height: 100%; margin: 0; padding: 0; }

.contain { width: 100%; height: 95%; margin: 0}
.content { height: 100%; width:100%}
.config-display {  width:100%; height: 100%}

.header, .footer { background: #f7f7f7; }
.content-body { background: #e7e7e7; }
.footer { position: fixed; bottom: 0 }

.deleting {
    color:red;
}

.dirty{
    color: green;
}